@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap");

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

input,
select {
  box-sizing: border-box;
  display: block;
  height: 35px;
  width: 100%;
  margin: 0.4em 0 1.3em;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #efeafd;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #69f6b7;
}

option {
  padding: 5px;
  background-color: white;
}

button {
  height: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  background-color: #69f6b7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 15px;
  margin-top: 0.5em;
}

button:hover {
  background-color: #a6f9d4;
}

button:focus {
  outline: none;
}
